//variables, fonts, mixins
@use "scss/variables" as *;
@use "scss/fonts";

//components
@use "scss/components/statBar";
@use "scss/components/diceTable";
@use "scss/components/attackPlayerMenu";

//views
@use "scss/views/diceTableView";
@use "scss/views/editPlayerView";
@use "scss/views/battleView";

// TO BE MOVED
@font-face {
  font-family: "The Witcher";
  src: url("assets/fonts/Thewitcher-jnOj.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  color: $primaryFontColor;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}
body {
  background-image: url("./assets/smokebg.png");
}

button,
input {
  background: linear-gradient(
    90deg,
    #291e0500 0%,
    #2a210300 25%,
    #10100a00 100%
  );
  border: $primaryBorder;
  margin: 0.5rem;
  color: $buttonFontColor;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}
button:hover {
  border: $hoverBorder;
  color: $primaryFontWhite;
  background: $hoverGradientBackground;
}
input {
  margin: unset;
}

details {
  margin-bottom: 1rem;
}
summary {
  list-style: none;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

//TO BE MOVED
.logs {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: black;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 10rem;
  z-index: 1000;
  height: 10rem;
}
