* {
  color: white;
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//---------TEMP
details {
  margin-bottom: 1rem;
}
summary {
  list-style: none;
  cursor: pointer;
}

body,
button,
input {
  background-color: #333;
}
logo-colors {
  background-color: #ff7b29;
  background-color: #ffb616;
  background-color: #ffdc65;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.health-bar-container {
  position: relative;
  height: 2rem;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  .health-bar {
    height: 100%;
    position: absolute;
  }
  .cyfry {
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Arial, serif;
  }
}

.logs {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: black;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 10rem;
  z-index: 1000;
  height: 10rem;
}
.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  .character-card {
    width: calc(25% - 25px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    button {
      padding: 10px;
      font-size: 1.2rem;
    }
    .wyparowanie {
      display: flex;
      align-items: center;
      gap: 5px;
      div {
        width: 16.666666666666666666%;
        text-align: center;

        .health-bar-container {
          display: flex;
          align-items: center;

          height: 20px;
          .cyfry {
            width: 100%;
            font-size: 0.8rem;
          }
        }
      }
    }
    h3 {
      text-align: center;
      margin-top: 1rem;
    }
    h2 {
      text-align: center;
      text-transform: uppercase;
      font-family: "Courier New", Courier, monospace;
      font-size: 2rem;
    }
    .szanse {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      div {
        width: calc(33.333333333% - 10px);
        text-align: center;
      }
    }
  }
}
.attacksWrapper {
  margin-top: 20px;
  button {
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
  }
}
