@use "../variables" as *;
.diceTableViewWrapper {
  @include wrapper;

  padding: 1rem 2rem;
  .diceTableLogs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 342px;
  }
}
