@use "../variables" as *;

.stat-bar-container {
  position: relative;
  height: 1.7rem;
  border: $simpleBorder;
  display: flex;
  align-items: center;
  width: 100%;

  //regular
  background-color: transparent;

  .stat-bar {
    height: 100%;
    position: absolute;
  }
  .cyfry {
    position: absolute;
    width: 100%;
    text-align: center;
    color: $primaryFontBlack;
    font-size: 1.5rem;
  }

  .under60percent {
    color: $primaryFontColor;
  }
}

//wyparowanie stat-bar
.wyparowanie {
  .stat-bar-container {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .under60percent {
    color: $primaryFontBlack;
  }
}
