$primaryFontBlack: #090909;
$primaryFontWhite: #fefefe;
$primaryFontColor: #d1cabc;
$buttonFontColor: #8f7e66;

$primaryFontColorTextShadow: #8f7e66;

//border
$borderColor: #201a16;
$borderWidth: 5px;
$borderStyle: double;

$primaryBorder: $borderWidth $borderStyle $borderColor;
$simpleBorder: 1px solid $borderColor;
