//primary colors
$primaryFontBlack: #090909;
$primaryFontWhite: #fefefe;
$primaryFontColor: #d1cabc;
$primaryFontColorTextShadow: #8f7e66;

$test: #90816a;

//button
$buttonFontColor: #8f7e66;

//hover
$hoverBorderColor: #6d470f;
$hoverGradientBackground: linear-gradient(
  90deg,
  #291e05 0%,
  #2a2103 25%,
  #10100a 100%
);

//border
$borderColor: #201a16;
$borderWidth: 5px;
$borderStyle: double;

$primaryBorder: $borderWidth $borderStyle $borderColor;
$hoverBorder: $borderWidth $borderStyle $hoverBorderColor;
$activeBorder: $borderWidth $borderStyle rgba(143, 126, 102, 0.51);
$simpleBorder: 1px solid $borderColor;

//active
$activeGradientBackground: linear-gradient(
  90deg,
  #291e0555 0%,
  #2a210355 25%,
  #10100a55 100%
);

//menu
$menuFontColor: #604b3b;
